%h1 Listing users

%table
  %tr
    %th Id
    %th Name
    %th Email
    %th Password
    %th Encrypted password
    %th Admin
    %th Banned
    %th Salt
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.id
      %td= user.name
      %td= user.email
      %td= user.password
      %td= user.encrypted_password
      %td= user.admin
      %td= user.banned
      %td= user.salt
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path
