%p#notice= notice

%p
  %b Id:
  = @product.id
%p
  %b Gname:
  = @product.gname
%p
  %b Siteid:
  = @product.siteid
%p
  %b Name:
  = @product.name
%p
  %b Company:
  = @product.company
%p
  %b Note:
  = @product.note

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
